.footer {
  max-width: 880px;
  margin: auto;
}

.footer__content {
  color: #545454;
  margin: 48px auto 0 0;
  font-size: 18px;
  line-height: 1.21;
  font-weight: 400;
}

@media screen and (max-width: 598px) {
  .footer {
    padding-left: 19px;
  }

  .footer__content {
    font-size: 14px;
  }
}
