.header {
  max-width: 880px;
  padding-bottom: 40px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__logo {
  width: 173px;
}

@media screen and (max-width: 618px) {
  .header {
    width: 100%;
    padding-bottom: 32px;
    margin-left: -19px;
    margin-right: -19px;
    padding-right: 19px;
    padding-left: 19px;
  }

  .header__logo {
    width: 126px;
    margin-left: 8px;
  }
}
